body {
  /* background-color:#111211 ; */
  background-color:#181c19 ;
  color: white;
  
 
}

.home-gradient {
  background-image: radial-gradient(circle at center, rgba(125, 81, 38, 0.571), #181c19, #181c19);
}
.gradient2 {
  background-image: radial-gradient(circle at center, rgba(84, 56, 27, 0.263), #181c19, #181c19);
}



.floating-plus {
  position: absolute;
  font-size: 2rem;
  color: #ffdab4;
  animation: floatUpRandom 2s ease-out forwards;
  pointer-events: none;
}

@keyframes floatUpRandom {
  0% {
    opacity: 1;
    transform: translate(-50%, 100%) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -200%) scale(1);
  }
}
