body {
  background-color:#1f221f ;
  color: white;
}
.floating-plus {
  position: absolute;
  font-size: 2rem;
  color: #ffdab4;
  animation: floatUpRandom 2s ease-out forwards;
  pointer-events: none;
}

@keyframes floatUpRandom {
  0% {
    opacity: 1;
    transform: translate(-50%, 100%) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -200%) scale(1);
  }
}
