body {
  background-color:#111211 ;
  /* background-color:#1f221f ; */
  color: white;
  background-image: radial-gradient(circle at center, rgba(125, 81, 38, 0.5), rgba(31, 34, 31, 0.8), #111211);
 
}
.floating-plus {
  position: absolute;
  font-size: 2rem;
  color: #ffdab4;
  animation: floatUpRandom 2s ease-out forwards;
  pointer-events: none;
}

@keyframes floatUpRandom {
  0% {
    opacity: 1;
    transform: translate(-50%, 100%) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -200%) scale(1);
  }
}
